body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Overpass", sans-serif;
  font-size: 18px;
}

#root {
  width: 100%;
}

nav {
  background-color: #aad5c5;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 2px;
}

footer {
  background-color: #aad5c5;
  height: 25px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-right: 20px;
  height: 27px;
  cursor: pointer;
}

.main {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.mainByStatus {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h4 {
  align-self: center;
  margin-top: 35px;
}

#authHeader {
  align-self: center;
  margin-top: 100px;
}

#dashboardHeading {
  align-self: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

form {
  margin: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
}

.labels,
.inputs {
  display: flex;
  flex-direction: column;
}

.formLabel {
  margin: 5px;
}

input {
  width: 200px;
}

.inputs {
  margin: 5px;
}

textarea {
  margin-top: 5px;
}

.reviewInput {
  margin: 5px;
  width: 670px;
}

.inputsDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 15px;
}

.inputsDivSearch {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.inputsSearch {
  margin: 0px;
  padding: 3px;
}

.titleAndStatusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #aad5c5;
  border: none;
  cursor: pointer;
  width: 160px;
  align-self: center;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
}

.gif {
  height: 300px;
  width: 400px;
  align-self: center;
}

.reviewQuestion {
  align-self: center;
}

.buttonBig {
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #aad5c5;
  border: none;
  cursor: pointer;
  width: 200px;
  align-self: center;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 15px;
}

.buttonAdd {
  padding: 10px 20px;
  margin: 15px;
  background-color: #aad5c5;
  border: none;
  cursor: pointer;
  width: 120px;
  font-size: 15px;
  border-radius: 5px;
}

.searchQuery {
  align-self: center;
  margin: 10px;
}

.searchButtonAdd {
  margin-left: 20px;
}

.bookCollection {
  display: flex;
  flex-direction: row;
}

.dashboardStatus {
  background-color: #aad5c5;
  height: 185px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border-radius: 5px;
  margin-left: 25px;
}

.bookCard {
  background-color: hsl(60, 54%, 93%);
  height: 185px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin: 2px;
}

.bookCardBig {
  background-color: hsl(60, 54%, 93%);
  margin: 20px;
  display: flex;
  justify-content: center;
}

.reviewCardBig {
  background-color: #ede0cc;
  margin: 20px;
  display: flex;
  justify-content: center;
}

.bookCardBigImage {
  margin: 20px 50px;
}

.bookCardMedium {
  background-color: hsl(60, 54%, 93%);
  width: 500px;
  margin: 20px;
  display: flex;
  border-radius: 5px;
}

.reviewCardMedium {
  background-color: #ede0cc;
  width: 500px;
  margin: 20px;
  display: flex;
  border-radius: 5px;
}

.cardMediumImageContainer {
  width: 240px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonPervNext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallImage {
  align-self: center;
  height: 170px;
}
.mediumImage {
  align-self: center;
  height: 235px;
}

.bigImage {
  align-self: center;
  height: 300px;
}

.statusBar {
  height: 33px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.statusBarBig {
  height: 45px;
  margin: 15px;
  margin-right: 25px;
}

.dashboardButton {
  border: none;
  background-color: hsl(60, 54%, 93%);
  height: 55px;
  width: 150px;
  margin: 2px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  align-self: flex-end;
}

.noUnderlineLink {
  text-decoration: none;
}

.mediumCardTitle {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 550;
  color: black;
}

.description {
  height: 202px;
  overflow-y: scroll;
}

.bookCardBigInfo {
  font-weight: 599;
}

.dialogWindow {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mediumCardAuthor {
  margin-left: 10px;
  font-size: 14px;
  color: black;
}

.label {
  margin-bottom: 10px;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logo_image {
  align-self: center;
}

.main > h3 {
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
}

#searchHeader {
  align-self: center;
  padding: 0;
  margin: 10px;
}

.errorMessage {
  align-self: center;
}

.imgIcon {
  width: 30px;
  height: 30px;
  margin: 3px 3px;
}
.progress-bar {
  margin-top: 10px;

  width: 97%;
  height: 20px;
  background-color: white;
  border: 1px solid black;
}

.progress-bar-green {
  height: 100%;
  background-color: green;
}

#zeroBooks{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-size: 20px;
}